.float-label {
  position: relative;
  margin-bottom: 4px !important;
}

.label {
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  opacity: 0.5;
  transition: 0.2s ease all;
}

.label-float {
  top: 0px !important;
  font-size: 0.75em !important;
  opacity: 0.5;
}

.inputpadding{
  padding: 0px;
}

.bgc{
  top: 0px;
  left: 0px;
  position:absolute; 
  height:100%; 
  width:100%;
  background: rgb(234,236,244);
  background: linear-gradient(180deg, rgba(234,236,244,1) 0%, rgba(255,255,255,1) 100%);

  opacity: 1;
  }
  .img{
  
    content: url("/images/zaggleSaveLogo.png");
    padding:20px;
  }
  .horizalign{
    font-size: 50px;
    text-align: center;
    margin-bottom: 12px;
    color:#171717;
    
  }
  .submitbutton{
    background-color: #ed3b3b !important;
    color: #FFFFFF!important;
  }
  
  a {
    color: #ed3b3b !important;
    text-decoration: underline !important;
  }
  a.black {
    color: #000000 !important;
    text-decoration: underline !important;
  }
  .login{
  padding: 5px;
  letter-spacing: 0px;
  
  }
  .ant-input{
    color:black !important;
  }

  .quotes {
    /* background-color: aqua; */

  }

  .Association {
    
    top: 402px;
    left: 138px;
    width: 437px;
    height: 131px;
    text-align: left;
    font: normal normal 900 30px/40px Mulish;
    letter-spacing: 0.6px;
    color: #171717;
    opacity: 1;
  }

  .textInQuote{
    margin-top: -10%;
    top: 498px;
    left: 138px;
    width: 635px;
    height: 146px;
    text-align: left;
    font: normal normal normal 18px/30px Lato;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
  }

  .form {
    width: 150%;
    margin-left: -22%;
  }

  .demoDetails {
    margin-top: 10%;
    width: 100%;
  }